
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply rounded-none border-black !important;
  }
}

.markdown-dot-bg {
  background-color: #f8f8f8;
  background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
  background-size: 20px 20px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #fff;
}
